<%- include('partials/header.ejs') %>


<form method="post" action="/updatesubmit" ">
  <input type="hidden" name="updatedItemId" value="<%= Blog[0].id %>">
    <div class="banner">
      <h1>Update <%= Blog[0].blog_title %></h1>
    </div>
    <div class="item">
      <p>Blog Title</p>
      <textarea rows="1" name="blogtitle" required><%= Blog[0].blog_title %></textarea>
      
    </div>
    <div class="item">
      <p>Blog description</p>
      <textarea rows="10" name="blogdescription" required><%= Blog[0].blog_description %></textarea>
    </div>
    <div class="button-block">
      <button type="submit" href="/" class="create-btn">Submit</button>
    </div>
  </form>



<%- include('partials/footer.ejs') %>